body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#FFF5EC;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #118592;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #48BCCF;
    color: black;
  }
  
  .topnav a.active {
    background-color: #CE6C2F;
    color: white;
  }
  .title{
      text-align: center;
  }
  .grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap:10px;
    grid-template-columns: auto auto auto auto;
    background-color: none;
    padding: 10px;
  }
  
  .button {
    background-color:#118592 ;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    padding: 20px;
  }
  .button:hover {
    box-shadow: 5px 5px 8px white, 10px 10px 8px #48BCCF;
  }

  a {
      color:white;
      text-decoration: none;
  }

.footer{
margin-top: 139px;
color: white;
border: solid black;
background-color: black;
opacity: 0.3;
text-align: center;
}